*{
    background-color: rgb(245, 214, 174);
    padding-left: 50px;
    padding-right: 50px;
}

.center-align{
    text-align: center;
}

.button {
    display: inline;
    width: 115px;
    height: 25px;
    background: #000000;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

li{
    padding: 5px;
}